@tailwind base;
@tailwind components;
@tailwind utilities;

.max-content {
    overflow-y: scroll;
}
li {
    width: 50px;
}

li label {
    display: inline-block;
    text-align: center;
}
.d-flex{
	display: flex;
}